/** main body*/
.wordsearch {
  display: flex;
  height: auto;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  user-select: none;
}
h1 {
  margin-top: 1em;
  align-self: center;
  justify-self: center;
}
/** start button*/
#start {
  justify-self: center;
  align-self: center;
  width: 6rem;
  height: 4rem;
  border: 3px solid black;
  border-radius: 5px;
  background-color: rgb(192, 207, 219);
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}
#start:hover {
  background-color: red;
  color: aliceblue;
}

/**game area */

/**words to find*/
.listWords {
  flex-direction: row;
  align-items: center;
}

#wordList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-decoration: none;
}
#wList {
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em;
}

/** word grid*/
:root {
  --grid-row: 1;
  --grid-column: 1;
}
.searchGrid {
  display: grid;
  width: 80vw;
  height: 70vh;
  grid-template-columns: repeat(var(--grid-column), 3em);
  grid-template-rows: repeat(var(--grid-row), 3em);
  justify-items: center;
  align-content: center;
  justify-content: center;
  row-gap: 0.2em;
  column-gap: 0.5em;
  margin: auto;
  user-select: none;
  margin-top: 1em;
  background-color: azure !important;
  border: 5px solid;
  padding: 2em;
  contain: content ;
}
/** inner grid cells*/
.searchGrid button:first-child {
  grid-column: 1;
  height: 1.5em;
  width: 1.5em;
  border: 2px solid grey;
 
}
.cell-count {
  text-align: center;
  border: 2px solid grey;
  font-weight: bolder;
  font-size: 1.8em;
  height: 1.5em;
  background-color: aliceblue;
  width: 1.5em;
  
}
.cell-count:hover {
  background-color: yellowgreen;
}
/** completion options*/
#complete{
  display:none;
margin: auto;
  height:10em;
  width:20em;
  border: 2px solid black;
}
#complete button{
  justify-self: center;
  align-self: center;
  width: 6rem;
  height: 4rem;
  border: 3px solid black;
  border-radius: 5px;
  background-color: rgb(192, 207, 219);
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}
#complete button:hover{
  background-color: red;
  color: aliceblue;
}


/** timer*/
.timer {
  height: 3rem;
  width: 5rem;
  background-color: aquamarine;
  outline: 3px solid black;

  font-size: 1.5em;
  font-weight: bolder;
  margin: auto;
  margin-top: 0em;
  margin-bottom: 2em;
}
