 .nav .toggle{
 position: fixed;
  z-index: 0;
}

.AvoidTheHoles {
  width: 100%;
  height: 100%;
  background-color: rgb(134, 134, 134);
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.outerBoard {
  margin: auto;
  padding: 0.1em;
  width: 90vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  color: aliceblue;

  align-items: center;

  margin-top: 0.5em;
  margin-bottom: 6em;
  justify-content: center;
  align-items: center;
}
.innerBoard {
  display: inline-grid;
  width: 90%;
  height: 90%;
  grid-auto-rows: 10%;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(109, 106, 106);
  padding: 0.1em;
}

.innerBoard > * {
  width: 100%;
  height: 95%;
  display: flex;
  contain: layout;
  justify-content: space-evenly;
  align-items:inherit;
  color: rgb(10, 10, 10);
  border: 2px solid rgb(184, 179, 179);
  user-select: none;
  margin: 0em;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 0em;

}

.innerBoard > [data-status="hidden"] {
  background-color: white;
}
.innerBoard > [data-status="hole"] {
  background-color: rgb(231, 25, 25);
}
/*.innerBoard > [data-status="number"] {
  background-color: antiquewhite;
}*/
.innerBoard > [data-status="marked"] {
  background-color: blue;
}

.newGame{
  width:10%;
  height:6%;
  margin:1em;
  border: 3px solid black;
  font-size: 1em;
  font-weight: bolder;
}

