.words {
  
  text-align: center;
}
.words h1{
  font-size: 3rem;
  height:4rem;
  padding:1rem;
  color: rgb(240, 50, 50);
  font-weight: 900;
  text-align: center;
  margin-top: 0.5rem;
  justify-content: center;
    align-content: center;
    background-color: slategray;
    text-shadow: 5px 10px black;

}
.words a {
  list-style-type: none;
}

.words li {
  font-size: 1.5em;
  background-color: aliceblue;
  padding: 1em;
  cursor: pointer;
  font-weight: bolder;
}
.words li:hover {
  background-color: #ffc107;
}
